body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: purple;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 600px;
    width: 600px;

    background-color: #fff;
    border: 8px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.card > .questions p{
    font-size: 32px;
    font-family: Georgia;
    font-weight: 600;
}

.buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-yes,.btn-no{
    height: 48px;
    width: 100px;

    border:none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-yes{
    background-color: green;
}

.btn-no{
    background-color: red;
    color: #fff;
}

.answer{
    display:none;
}

.answer > p{
    font-size: 48px;
    font-family: Arial;
    font-weight: bold;
    color:darkgrey;
    text-shadow: 1px 1px #8000;
}